body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid yellow;
}


nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    background-color: #333;
    color: yellow;
    padding: 4px 8px;
    border-radius: 4px;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ddd;
}

/* Sezione servizi */
#servizi {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

#servizi h2 {
    margin-bottom: 30px;
    font-size: 2em;
}

.servizi-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.servizio {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 250px;
}

.servizio img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
